<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ConnectionString1" value="Server=SCS3\SQLEXPRESS;Database=jriets; Trusted_Connection=true; "/>
    <add key="ConnectionString2" value="Server=SCS3\SQLEXPRESS;Database=ssarc; Trusted_Connection=true; "/>
    <add key="ConnectionString3" value="Server=SCS3\SQLEXPRESS;Database=CRC; Trusted_Connection=true; "/>
    <add key="ConnectionString4" value="Server=ets-tfs.cloudapp.net,51710;Database=ETSDemo; user id = ETSAdmin;password = ETSAdmin12; Trusted_Connection=False;"/>
    <add key="ConnectionString5" value="Server=ets-tfs.cloudapp.net,51710;Database=COH;user id =ETSAdmin;password =ETSAdmin12; Trusted_Connection=False;"/>
    <add key="ConnectionString6" value="Server=ets1.cloud4causes.com;Database=COH; user id =ETSAdmin;password =ETSAdmin12; Trusted_Connection=False;"/>
    <add key="ConnectionString7" value="Server=ets-tfs.cloudapp.net,51710;Database=SSARC;user id =ETSAdmin;password =ETSAdmin12; Trusted_Connection=False;"/>
    <add key="ConnectionString8" value="Server=ets1.cloud4causes.com;Database=CRC; user id =ETSAdmin;password =ETSAdmin12; Trusted_Connection=False;"/>

    <!--<add key="ConnectionString4" value="Server = windows7;Database=etssql;user id = sa;password = Fortknox; Trusted_Connection=False;" />
    <add key="ConnectionString2" value="Server=Windows7;Database=berk; Trusted_Connection=False; " />
    <add key="ConnectionString3" value="Server=windows7;Database=ccsql; Trusted_Connection=False; " />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MenuCode" value="256"/>
    <add key="ReportPath" value="C:\Program Files (x86)\Economised Time Services\reports\"/>
    <add key="DocumentPath" value="C:\Program Files (x86)\Economised Time Services\Documents\"/>
    <add key="DefaultAPACHTO" value="1000"/>
    <add key="DefaultEEACHTO" value="1000"/>
    <add key="DefaultCCACHTO" value="1000"/>
    <add key="DefaultAPACHFrom" value="8000"/>
    <add key="DefaultEEACHFrom" value="8000"/>
    <add key="DefaultCCACHFrom" value="8000"/>
    <add key="DefaultACHEXT" value=".dat"/>
    <add key="DefaultInvoicePrinter" value="c:"/>
    <add key="InvoiceLocation" value="c:\ETSNET\"/>
    <add key="DirectDeposit" value ="Y"/>
    <add key="StartandStoptime" value="Y"/>
    <add key="SupervisorApproval" value="Y"/>
    <!--<add key="InvoiceLocation" value="g:\123\conar\invoices\"/>-->
  </appSettings>
  <connectionStrings>
    <add name="My.MySettings.etssqlConnectionString" connectionString="Data Source=WINDOWS7;Initial Catalog=berk;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="My.MySettings.etssqlconnectionstring" connectionString="Data Source=WINDOWS7;Initial Catalog=berk;Integrated Security=True"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>--></startup></configuration>
